<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
    <ion-card-subtitle>15 de Julho de 2016</ion-card-subtitle>
      <ion-card-title>Stranger Things</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/esKFbCWAGyUUNshT5HE5BIpvbcL.jpg">

      <p>Quando um garoto desaparece, a cidade toda participa nas buscas. 
        Mas o que encontram são segredos, forças sobrenaturais e uma menina.</p>
    
      <ion-button expand="block" fill="outline">Mais Informações...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
    <ion-card-subtitle>7 de Outubro de 2014</ion-card-subtitle>
      <ion-card-title>The Flash</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/lUFK7ElGCk9kVEryDJHICeNdmd1.jpg">

      <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, 
        mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.</p>
    
      <ion-button expand="block" fill="outline">Mais Informações...</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
