<ion-header [translucent]="true">
  <ion-toolbar color = "warning">
    <ion-title>
     Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <h1> Vingadores:Ultimato</h1>
        <h2>24 de Abril de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/q6725aR8Zs4IwGMXzZT8aC8lh41.jpg"/>
        <p>Após os eventos devastadores de "Vingadores: Guerra Infinita", 
          o universo está em ruínas devido aos esforços do Titã Louco, Thanos. 
          Com a ajuda de aliados remanescentes…</p>
        <ion-button expand="block" fill="outline">Mais Informações...</ion-button>

      </ion-col>

      <ion-col size="6">
        <h1> Simplesmente Acontece</h1>
        <h2>16 de Outubro de 2014</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/eYZqUxWc7p5TbnMqrWF9eILyToO.jpg"/>
        <p>Os jovens britânicos Rosie e Alex são amigos inseparáveis desde a infância, 
          experimentando juntos as dificuldades amorosas, familiares e escolares. Embora exista…</p>
        <ion-button expand="block" fill="outline">Mais Informações...</ion-button>

      </ion-col>

      <ion-col size="6">
        <h1> Senhor do Anéis:A Sociedade do Anel</h1>
        <h2>18 de Dezembro de 2001</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/oCyFGKCUAnIwsXJUZZsz9DJL3iG.jpg"/>
        <p>Numa terra fantástica e única, 
          chamada Terra-Média, um hobbit (seres de estatura entre 80 cm e 1,20 m, com 
          pés peludos e bochechas um pouco avermelhadas) recebe…</p>
        <ion-button expand="block" fill="outline">Mais Informações...</ion-button>

      </ion-col>

      <ion-col size="6">
        <h1> A Bela E A Fera</h1>
        <h2>16 de Março de 2017</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/9V4wl4rnUcLfGuTe4J5NjOFbDil.jpg"/>
        <p>Moradora de uma pequena aldeia francesa, 
          Bela (Emma Watson) tem o pai capturado pela Fera e decide entregar sua vida ao 
          estranho ser em troca da liberdade do progenitor.…</p>
        <ion-button expand="block" fill="outline">Mais Informações...</ion-button>

      </ion-col>
      
    </ion-row>

  </ion-grid>

</ion-content>
  